html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.real-time-data {
    margin-top: 10px;
    margin-left: 20px;
    list-style: none;
}
